//*{
//    margin: 0;
//    padding: 0;
//}
h1{
    //background-color: green;
}
.menu{
    background-color: brown ;
    ul{
        li{
        color: #edf2f7;
        list-style: none;
        }
    }
}


